@import '../../styles/variables.scss';

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3rem;
  background-color: $base-color;
  gap: 1.5rem;
  padding: 0px 1rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
